body {
    margin: 100px 200px;
}


* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    line-height: 24px;
    font-size: 24px;
    background: url("../img/prog-bg-1.png") repeat-y;
    background-size: contain;
}

/* COMMONS */
a {
    text-decoration: none;
    color: #ffffff;
}
body > * {
    padding: 0 10%;
    min-height: 100vh;
    overflow: hidden;
}
body > *:nth-child(even) {
    background-color: #111111;
    color: #ffffff;
}
body > *:nth-child(odd) {
    background-color: #ffffff;
    color: #111111;
}
h1 {
    line-height: 34px;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 6%;
}

/* HEADER */
body > *:first-child {
    background-color: transparent;
}
.head {
    position: relative;
    padding: 0;
}
.head .head-header {
    grid-template-columns: auto auto;
    justify-content: stretch;
    padding: 20px calc(10% + 60px);
}
.head .head-header .head-logo {
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
    text-align: left;
}
.head .head-header .head-logo a:hover {
    border-bottom: none;
    color: crimson;
}
.head .head-header .toggler {
    display: none;
    text-align: right;
    color: #ffffff;
}
.head .head-header nav ul {
    list-style: none;
    justify-content: right;
    margin: 20px 0;
}
.head .head-header nav ul li {
    margin-right: 20px;
}
.head .head-header nav ul li a {
    text-transform: uppercase;
}
.head .head-header a {
    transition: all .5s;
    padding: 5px 2px 12px;
}
.head .head-header a:hover {
    color: tomato;
    border-bottom: 4px solid tomato;
}
.head .head-header nav ul li:last-child {
    margin-right: 0;
}

/* HEAD-CONTAINER */
.head .head-container {
    height: 100%;
    padding: 20vh 0 0;
}
@keyframes flashing {
    0% {
        color: #ffffff;
    }
    100% {
        color: tomato;
    }
}
.head .head-container > h1,
.head .head-container > p {
    animation-name: flashing;
    animation: flashing 3s cubic-bezier(.6,-0.28,.74,.05) 1s infinite alternate;
    margin-top: 30px;
}
.head .head-container .scroll-down {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 47px);
}
.head .head-container .scroll-down p {
    margin-bottom: 30px;
}
.head .head-container .scroll-down > a {
    padding: 14px 22px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: all .3s;
}
.head .head-container .scroll-down > a:hover {
    border-color: #111;
    background-color: #ffffff;
    color: #111;
}

/* EDuCATION */
#education {
    padding-top: 20px;
}
#education .edu-container {
    justify-content: space-between;
    flex-direction: column;
}
#education .edu-container > div {
    width: 55%;
    flex-direction: column;
    margin: 0 auto;

}
#education .pics-container img {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#education .pics-container img.photo {
    width: 100%;
}
#education .edu-container .text-container h4 {
    display: block;
    margin-bottom: 0;
    background-color: lemonchiffon;
    color: #111111;
}
#education .edu-container .text-container .edu-button {
    display: block;
    font-size: 24px;
    cursor: pointer;
    padding: 2px 0;
}
#education .edu-container .text-container *[class~=curved-top] {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}
#education .edu-container .text-container *[class~=curved-bottom] {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}
#education .edu-container .text-container *[class~=curved-both] {
    border-radius: 50px

}
#education .edu-container .text-container .bachelor {
    background-color: tomato;
}
#education .edu-container .text-container .master {
    background-color: crimson;
    color: #ffffff;
}
#education .edu-container .text-container div.edu-button {
    display: none;
    font-size: 24px;
    width: 100%;
    cursor: pointer;
}
#education .edu-container .text-container .edu-information {
    width: 90%;
    padding: 10px 14px;
    margin: 0 auto;
    display: none;
    text-align: left;
}
#education .edu-container .text-container .edu-information[class~=bachelor-information] {
    background-color: tomato;
}
#education .edu-container .text-container .edu-information[class~=master-information] {
    background-color: crimson;
    color: #ffffff;
}
/* SKILLS */
#skills {
    height: auto;
    padding-bottom: 70px;
}
#skills #skills-container .skills-react-container .skill-description {
    width: 60%;
    margin: 0 auto;
}
#skills #skills-container .skills-react-container .skill-description[class~=skill-description-hidden] {
    display: none;
}
#skills #skills-container .skills-react-container .skill-description img {
    width: 20%;
}
#skills #skills-container .skills-react-container .skills-buttons-container {
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
#skills #skills-container .skills-react-container span {
    background-color: #909090;
    padding: 3px 14px;
    margin: 5px 12px 5px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#skills #skills-container .skills-react-container span[class~=active] {
    background-color: #505050;
}
#skills #skills-container .skills-react-container span:hover {
    background-color: #757575;
}
#skills #skills-container .skills {
    margin-top: 30px;
    grid-template-columns: 17% 17% 17% 17% 17%;
    justify-content: space-around;
    grid-row-gap: 30px;
}
#skills #skills-container .skills .skill-item {

}
#skills #skills-container .skills .skill-item img {
    max-width: 100%;
    border-radius: 20px;
}
/* PORTFOLIO */

/* CONTACTS */
#contacts {

}

/* FOOTER */
footer {
    min-height: 0;
    height: 60px;
    position: relative;

}
footer .copyright {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 72px)
}
/* HOME BUTTON */
#home {
    display: none;
    position: fixed;
    padding: 10px 16px;
    bottom: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #222222;
    border: 2px solid tomato;
    border-radius: 10%;
    min-height: 0;
}
#home:hover {
    background-color: crimson;
    color: #ffffff;
}



/* FLEXIBILITY */
/* laptop */
@media screen and (max-width: 1200px) {
    body > * {
        padding: 0 4%;
    }
    /* HEADER */
    .head .head-header {
        padding: 20px 40px;
    }
    .head .head-header nav ul li {
        margin-right: 10px;
    }
    /* HEAD CONTAINER */
    .head .head-container {
        padding: 250px 0 120px;
    }
}
/* tablet */
@media screen and (max-width: 992px) {
    /* HEAD */
    .head .head-header .toggler {
        display: block;
        font-size: 22px;
        padding-top: 16px;
        cursor: pointer;
    }
    .head .head-header nav {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        display: none;
    }
    .head .head-header nav[class~=shown] {
        display: block;
    }
    .head .head-header nav ul {
        margin: 2px auto;
        flex-direction: column;
        padding-left: 0;
    }
    .head .head-header nav ul .menu-item,
    .head .head-header nav ul .menu-item a{
        display: block;
        margin-right: 0;
    }
    .head .head-header nav ul .menu-item a {
        margin: -1px auto;
        border-top: 2px solid tomato;
        border-bottom: 2px solid tomato;
    }
    .head .head-header nav ul .menu-item a:hover {
        background-color: #333333;
    }
    .head .head-container {
        padding: 300px auto;
    }
    /* HEAD CONTAINER */
    .head .head-container {
        padding: 200px 0 90px;
    }
    /* EDUCATION */
    #education .edu-container {
        flex-direction: column;
    }
    #education .edu-container > div {
        width: 100%;
    }

}
/* note */
@media screen and (max-width: 768px) {
    a:hover {
        color: #ffffff;
    }
    .head .head-header {
        padding: 15px 30px;
    }

    /* HEAD CONTAINER */
    .head .head-container {
        padding: 150px 0 70px;
    }

}
/* smart phone */
@media screen and (max-width: 576px) {
    /* HEAD */
    .head .head-header {
        padding: 10px 10px;
    }
    .head .head-header .head-logo {
        letter-spacing: 0;
    }
    /* HEAD CONTAINER */
    .head .head-container {
        padding: 100px 0 40px;
    }
    /* EDUCATION */
    #education .edu-container .text-container .edu-information {
        width: 80%;
    }
    /* SKILLS */
    #skills #skills-container .skills {
        grid-template-columns: 20% 20% 20% 20%;
    }

    /* HOME BUTTON */
    #home {
        display: none !important;
    }

}